<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.dao.FacilityRepairDao">


	<resultMap type="Facilityrepair" id="resFacilityRepair">
		<id column="faciid" property="faciid"/>
		<result column="facirebudget" property="facirebudget"/>
		<result column="faciredate" property="faciredate"/>
		<result column="facirefirm" property="facirefirm"/>
		<result column="facirefee" property="facirefee"/>
		<result column="isdelete" property="isdelete"/>
		
	<association property="fc" javaType="Facilities">
		<id column="faciid" property="faciid"/> 	
		<id column="faciname" property="faciname"/> 	
	</association>
	
	<association property="dept" javaType="Department">
		<id column="deptid" property="deptid"/> 
		<id column="deptname" property="deptname"/> 
	</association>
	
	</resultMap>
	
	
	
	<select id="queryFr" resultType="Facilityrepair">
		select * from Facilityrepair where isdelete = 1
	</select>


	<select id="queryFc" resultType="Facilities">
		select * from Facilities where isdelete = 1
	</select>
	
	<select id="queryFcDept" resultType="Facilityrepair" >
		select * from Facilityrepair where isdelete = 1
	</select>

	<select id="queryDept" resultType="Department">
		select * from Department where isdelete = 1
	</select>
	
	<sql id="joinQuerySql">
		FROM Facilityrepair fr, Department dept, Facilities fc where fr.faciid = fc.faciid and fr.faciredeptid = dept.deptid 
			and fr.isdelete = 1 and dept.isdelete = 1 and fc.isdelete = 1
	</sql>
	
	<select id="queryAll" resultMap="resFacilityRepair">
        SELECT *
        <include refid="joinQuerySql"></include>
   </select>
   
   	<select id="queryByJoin" resultMap="resFacilityRepair">
        SELECT *
   		<include refid="joinQuerySql"></include>
   </select>
	
	<sql id="conditionSql">
		<if test="faciname !=null and faciname !=''">
			and fc.faciname like concat('%',concat(#{faciname},'%'))
		</if>
		
		<if test="facirefirm !=null and facirefirm !=''">
			and fr.facirefirm like concat('%',concat(#{facirefirm},'%'))
		</if>
	</sql>
	
	<select id="queryByCondition" parameterType="map"  resultMap="resFacilityRepair" >
        SELECT *
   		<include refid="joinQuerySql"></include>
   		<include refid="conditionSql"></include>
   </select>
   


	<select id="findByID" parameterType="int" resultType="Facilityrepair">
        select * from Facilityrepair where faciid = #{faciid} and isdelete = 1
   </select>


	<update id="deleteById" parameterType="map">
		update Facilityrepair set isdelete = 0 where faciid = #{faciid}
	</update>

	
	<update id="updateFacilityRepair" parameterType="Facilityrepair">
			update Facilityrepair set
		<if test="faciredeptid  !=null and  faciredeptid !=''">
             faciredeptid=#{faciredeptid},
        </if>
		<if test="facirebudget  !=null and  facirebudget !=''">
             facirebudget=#{facirebudget},
        </if>
		<if test="faciredate  !=null and  faciredate !=''">
             faciredate=#{faciredate},
        </if>
		<if test="facirefirm  !=null and  facirefirm !=''">
             facirefirm=#{facirefirm},
        </if>
		<if test="facirefee  !=null and  facirefee !=''">
             facirefee=#{facirefee}
        </if>
		where  faciid=#{faciid}
	</update>

	<insert id="addFacilityRepair" parameterType="Facilityrepair">
		insert into Facilityrepair
		(faciid,faciredeptid,facirebudget,faciredate,facirefirm,facirefee,isdelete)
		values (#{faciid},#{faciredeptid},#{facirebudget},#{faciredate},#{facirefirm},#{facirefee},1)
		
		
		
<!--  		 自动增长后的主键   --> 
<!--          <selectKey keyColumn="travelid" keyProperty="travelid" resultType="int"> -->
<!--          	SELECT LAST_INSERT_id() -->
<!--          </selectKey> -->

	</insert>
	

</mapper>