<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.dao.MedicalhistoryDao">

	<resultMap type="Medicalhistory" id="resMedicalhistory">
		<id column="medhid" property="medhid"/>
		<result column="medhtype" property="medhtype"/>
		<result column="medhhistory" property="medhhistory"/>
		<result column="medhpatid" property="medhpatid"/>
	<association property="patient" javaType="Patient">
		<id column="patid" property="patid"/>
		<result column="patname" property="patname"/>
	</association>
	</resultMap>

	<select id="queryByCondition" parameterType="map" resultMap="resMedicalhistory">
       select meh.*,p.patName
		from medicalhistory meh,patient p
		where meh.medhPatId = p.patId and meh.isdelete = 1
		<if test="medhid!=null and medhid!=''">
			and meh.medhid = #{medhid}
		</if>
		<if test="patname!=null and patname!=''">
			and p.patname like concat('%',concat(#{patname},'%'))
		</if>
   </select>
	
	<update id="deleteById" parameterType="Medicalhistory">
		update medicalhistory medh set isDelete = 0 where medhid = #{medhid}
	</update>

	<insert id="addMedh" parameterType="Medicalhistory">
		insert into Medicalhistory (medhpatid,medhtype,medhhistory,isdelete)
		values (#{medhpatid},#{medhtype},#{medhhistory},1)
	</insert>

	
   <select id="findByID" parameterType="int" resultMap="resMedicalhistory">
        select * from medicalhistory where medhid=#{medhid}
   </select>
   
   <update id="updateMedh" parameterType="Medicalhistory">
   	update Medicalhistory set 
   	<if test="medhpatid!=null and medhpatid!=''">
   		medhpatid = #{medhpatid},
   	</if>
   	<if test="medhtype!=null and medhtype!=''">
   		medhtype = #{medhtype},
   	</if>
   	<if test="medhhistory!=null and medhhistory!=''">
   		medhhistory = #{medhhistory}
   	</if>
   	where medhid = #{medhid}
   
   </update>

</mapper>