<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.PatientDao">
	
	<sql id="patientCondition">
		<where>
			pat.isDelete = 1
			<if test="patid!=null and  patid!=''">
				and patid like concat('%',concat(#{patid},'%'))
			</if>
			<if test="patname !=null and patname!=''">
				and patname like concat('%',concat(#{patname},'%'))
			</if>
		</where> 
	</sql>

	<select id="queryByCondition" resultType="Patient" parameterType="Patient">
		select * 
			from patient pat
			<include refid="patientCondition"/> 
	</select>
	
	<update id="deleteById" parameterType="Patient">
		update patient set isDelete = 0 where patid = #{patid}
	</update>

	<select id="findById" parameterType="Integer" resultType="Patient">
		select * from patient where patid = #{patid}
	</select>

	<update id="updatePatient" parameterType="Patient">
	 update patient set
          <if test="patname!=null and  patname!=''">
             patname=#{patname}
          </if>
           <if test="patsex!=null and  patsex!=''">
		      ,patsex=#{patsex}
		  </if>
		   <if test="patage!=null and  patage!=''">
		      ,patage=#{patage}
		  </if>
		  <if test="pattel != null and pattel != ''">
		      ,pattel = #{pattel}
		  </if>
		  <if test="patlinkmanname != null and patlinkmanname != ''">
		  	  ,patlinkmanname = #{patlinkmanname}
		  </if>
		  <if test="patlinkmantel != null and patlinkmantel != ''">
		  	  ,patlinkmantel = #{patlinkmantel}
		  </if>
		  where patid=#{patid}
		
	</update>

	<insert id="addPatient" parameterType="Patient">
		insert into patient (patname,patsex,patage,isdelete)
		values (#{patname},#{patsex},#{patage},1)
		<!-- 自动增长后的主键   -->
         <selectKey keyColumn="patid" keyProperty="patid" resultType="int">
         	SELECT LAST_INSERT_id()
         </selectKey>
	</insert>

</mapper>