<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:命名空间  -->
<mapper namespace="com.web.dao.PositionDao">

   <!-- 添加 -->
    <insert id="add" parameterType="professionaltitle">
		insert into professionaltitle (profid,profname,deptid,profbasesalary,isdelete) 
		values (#{profid},#{profname},#{deptid},#{profbasesalary},1)
	</insert>
    
    <!-- 修改 -->
     <update id="update" parameterType="Professionaltitle">
         update professionaltitle set
          <if test="profname!=null and  profname!=''">
             profname=#{profname},
          </if>
           <if test="deptid!=null and  deptid!=''">
		     deptid=#{deptid},
		  </if>
		   <if test="profbasesalary!=null and  profbasesalary!=''">
		     profbasesalary=#{profbasesalary}
		  </if>
		  where profid=#{profid}
    </update>

   <!-- 自定义结果集 -->
   <resultMap type="professionaltitle" id="resultPosition">
       <!-- 主键 -->
       <id column="profid" property="profid"/>
       <!-- 其他属性 -->
       <result column="profname" property="profname"/>
       <result column="deptId" property="deptid"/>
       <result column="profbasesalary" property="profbasesalary"/>
       <result column="isDelete" property="isdelete"/>
       <!-- 多对一 -->
       <association property="department" javaType="Department">
             <!-- 主键 -->
             <id column="deptId" property="deptid"/>
             
             <result column="deptName" property="deptname"/>
             <result column="deptadr" property="deptadr"/>
             <result column="depttel" property="depttel"/>
    
             <result column="isDelete" property="isdelete"/>
       </association>
   </resultMap>
   <!-- 查询 -->
   <select id="query" resultMap="resultPosition">
       SELECT p.*,d.*
		    from t_position p,t_department d
		       where p.deptId=d.deptId
   </select>
   
   
   <!-- 根据职位id查询职位信息   parameterType:参数类型     resultType:结果类型-->
   <select id="findByID" parameterType="int" resultMap="resultPosition">
        select * from professionaltitle where profid=#{poId}
   </select>
   
   <!-- 根据名字模糊查询   #:参数值（字符串、整数、小数等）     ${}:字符串    concat:拼接
   select * from t_position where poName like '%${names}%'-->
   <select id="queryByName" parameterType="String" resultType="TPosition">
       select * from t_position where poName like concat('%',concat(#{names},'%'))
   </select>
   
   <sql id="conditionSql">
        <if test="poName!=null and poName!=''">
           and p.profname like concat('%',concat(#{poName},'%'))
        </if>
        <if test="poSalary1!=null">
           <if test="poSalary2 == null">
             and p.profbasesalary >= #{poSalary1}
           </if>
           <if test="poSalary2!=null">
	           and p.profbasesalary between #{poSalary1} and #{poSalary2}
	        </if>
        </if>
         
        <if test="deptId != null and deptId !=''">
            and p.deptId=#{deptId}
        </if>
   </sql>
   
   <!-- 根据条件查询 -->
   <select id="queryByCondition" parameterType="map" resultMap="resultPosition" >
       SELECT p.*,d.* from professionaltitle p,department d where p.deptId=d.deptId and p.isdelete = 1 and d.isdelete = 1
       <include refid="conditionSql"></include>
   </select>
   
   <update id="delete" parameterType = "Integer">
    	update professionaltitle set isdelete = 0 where profid=#{profid}
    </update>

	

</mapper>

