<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.dao.RegistrationformDao">
	
	<resultMap type="Registrationform" id="resRegistrationform">
		<id column="regId" property="regid"/>
			<result column="regDate" property="regdate"/>
			<result column="regfee" property="regfee"/>
			<result column="empDocId" property="empdocid"/>
			<result column="regDeptID" property="regdeptid"/>
			<result column="regPatId" property="regpatid"/>
			<result column="empId" property="empid"/>
		
		<association property="doc" javaType="Employee" column="empdocid" select="selectEmpById">
			<id column="empid" property="empid"/>
			<result column="empname" property="empname"/>
		</association>
		<association property="emp" javaType="Employee" column="empid" select="selectEmpById">
			<id column="empid" property="empid"/>
			<result column="empname" property="empname"/>
		</association>
		<association property="dept" javaType="Department">
			<id column="deptId" property="deptid"/>
			<result column="deptname" property="deptname"/>
		</association>
		<association property="patient" javaType="Patient">
			<id column="patid" property="patid"/>
			<result column="patname" property="patname"/>
		</association>
	</resultMap>

	<resultMap type="Employee" id="EmpMapper" >
		<id column="empid" property="empid" jdbcType="INTEGER"/>
		<result column="empnanme" property="empname" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="selectEmpById" parameterType="int" resultMap="EmpMapper">
		select * from employee where empid = #{_parameter}
	</select>

	<sql id="conditionSql">
		<if test="regid!=null and regid!=''">
			and reg.regid = #{regid}
		</if>
		<if test="regdeptid!=null and regdeptid!=''">
			and reg.regdeptid = #{regdeptid}
		</if>
		<if test="regpatid!=null and regpatid!=''">
			and reg.regpatid = #{regpatid}
		</if>
		
	</sql>

	<sql id="basedCondition">
		FROM employee emp1,registrationform reg,department dept,patient pat,employee emp2
		where reg.empDocId = emp1.empId and reg.empId = emp2.empId 
		AND	reg.regDeptId = dept.deptId and reg.regPatId = pat.patId
		and reg.isDelete = 1 and emp1.isdelete =1 and emp2.isdelete =1 and dept.isdelete=1 
		and pat.isdelete =1
	</sql>

	<select id="queryByCondition" parameterType="Registrationform" resultMap="resRegistrationform">
        SELECT *
		<include refid="basedCondition"></include>
   		<include refid="conditionSql"></include>
   </select>

	<select id="findByID" parameterType="int" resultMap="resRegistrationform">
        select * 
        <include refid="basedCondition"></include>
        and regid =#{regid}
   </select>

	<update id="deleteById" parameterType="Registrationform">
		update Registrationform set isDelete = 0 where regid = #{regid}
	</update>

	<insert id="addReg" parameterType="Registrationform">
		insert into Registrationform 
		(regDeptId,empDocId,regPatId,empId,isDelete,regfee)
		values (#{regdeptid},#{empdocid},#{regpatid},#{empid},1,#{regfee})
	</insert>
	
	<update id="updateReg" parameterType="Registrationform">
		update Registrationform set
		empdocid = #{empdocid},
		regpatid = #{regpatid},
		empid = #{empid},
		regfee = #{regfee},
        regdeptid=#{regdeptid}
        
		where regid = #{regid}
	</update>

</mapper>